
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Fass</title>
        <style>
              body{
                margin:0;
                padding: 0;
                background-image: url("{{ url_for('static', filename='background.avif') }}"); 
                background-size: cover;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
<body>
    <div class="header">
        <div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="'image">
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#"  class="login">Login</a></li>
                </ul>
            
        </nav>
        </div>
    </div>
    <div class="welcome">
        <div class="selectDishTitle">
            <h1>
                Select&nbsp; the &nbsp;Dish
            </h1>
        </div>
        <div class="selectDish">
            {% for entry in data %}
            <div>
            <form action="/submit" method="post">
                <button class="dishSubmit" type="submit" name={{entry}} value="clicked">{{entry}}</button>
            </form>
            </div>                
            {% endfor %}
        </div>

    </div>
   
</body>
</html>